.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
  margin-top: 100px;
}

.contact a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.contact a:hover {
  color: var(--primary-color);
}

#contact-text {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
}

.social-links-contact {
  display: flex;
  gap: clamp(1rem, 3vw, 2.5rem);
  justify-content: center;
  margin-left: 25px;
  margin-top: 15px;
}

.social-links-contact a {
  font-size: clamp(0.5rem, 4vw, 1.4rem);
  color: var(--socials-color);
  transition: all 0.3s ease;
}

.social-links-contact a:hover {
  color: #9c5ba5;
  filter: brightness(1.1) saturate(1.2);
}

.buttom-contact-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.buttom-contact-container h2 {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

/* Media Queries */
@media (max-width: 868px) {
  .contact {
    margin-top: 50px;
  }

  .buttom-contact-container h2 {
    font-size: 1.25rem;
  }

  .buttom-contact-container p {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .contact {
    margin-top: 50px;
  }

  .buttom-contact-container h2 {
    font-size: 1rem;
  }

  .buttom-contact-container p {
    font-size: 0.5rem;
  }
}
