header {
  background-color: transparent;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(0.5rem, 2vw, 1rem);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header a {
  cursor: pointer;
}

.theme-toggle-icon {
  font-size: clamp(20px, 2vw, 28px);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  margin-left: clamp(2rem, 4vw, 4rem);
  margin-top: 0.3rem;
}

.theme-toggle-icon:hover {
  opacity: 1;
}

.theme-toggle-icon:active {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

header.scrolled .theme-toggle-icon {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

header.scrolled .theme-toggle-icon:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

header.scrolled {
  background-color: var(--dark-color);
  opacity: 0.8;
}

header.scrolled span {
  color: var(--highlight-hover-color);
}

header.scrolled .nav a {
  color: var(--primary-hover-color);
  opacity: 1;
}

header.scrolled .nav a:hover {
  color: var(--light-blue);
}

header.scrolled .nav a:hover span {
  color: var(--highlight-color);
}

.navbar-icon {
  position: fixed;
  top: 75px;
  left: calc(50% - 600px + 25px);
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 5vw, 60px);
  height: clamp(40px, 5vw, 60px);
  overflow: hidden;
  z-index: 1000;
}

.navbar-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-icon:hover {
  transform: scale(1.1);
  color: var(--text-color);
}

.navbar-icon.scrolled {
  opacity: 0.5;
}

.navbar-icon.scrolled:hover {
  opacity: 1;
}

.header-wrap {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 clamp(1rem, 2vw, 2rem);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  gap: clamp(1.5rem, 4vw, 5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto mono";
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
  opacity: 1;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: 500;
  text-transform: lowercase;
  transition: color 0.3s ease, opacity 0.3s ease;
  white-space: nowrap;
}

.nav a:hover {
  opacity: 1;
}

.nav a:not(:hover) {
  opacity: 0.5;
}

.nav:not(:hover) a {
  opacity: 1;
}

span {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .theme-toggle-icon {
    display: none;
  }

  .navbar-icon {
    display: none;
  }
}

@media (max-width: 1200px) {
  .navbar-icon {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-wrap {
    padding: 0 clamp(1rem, 2vw, 1rem);
  }

  .nav {
    gap: clamp(1rem, 2vw, 2rem);
  }

  .nav a {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
  }
}
